.entry-reading-time {                      
    font-size: 12px;
    float: left;
    letter-spacing: 1px;
    padding: 4px 0px;
    text-transform: uppercase;
    margin: 0 79px;
    clear: both;
}

.social-post { 
    height: 0px;
    float: left;
    margin: 0 79px;
    clear: both;
}