<figure class="image-small caption">
    <img src="{{ include.imageurl }}" alt="{{ include.title }}" {% if include.imageurllarge %} style="cursor: pointer;" data-toggle="modal" data-target="#modalGenerico" {% endif %} />
    {% if include.caption %}
    <figcaption class="caption-text">{{ include.caption }}</figcaption> 
    {% endif %}   
</figure>

<!-- Modal -->
<div class="modal fade" id="modalGenerico" tabindex="-1" role="dialog" aria-labelledby="modalGenerico">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <img src='{{ include.imageurllarge }}' alt='{{ include.title }}' />
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#modalGenerico').appendTo("body");
	});
</script>