<figure class="image-small caption">
    <img src="{{ include.imageurl }}" alt="{{ include.title }}" {% if include.imageurllarge %} style="cursor: pointer;" data-toggle="modal" data-target="#modalImageLarge" {% endif %} />
    {% if include.caption %}
    <figcaption class="caption-text">{{ include.caption }}</figcaption> 
    {% endif %}
</figure>


<!-- Modal -->
<div class="modal fade" id="modalImageLarge" tabindex="-1" role="dialog" aria-labelledby="modalImageLargeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalImageLargeLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src="{{ include.imageurllarge }}" alt="{{ include.title }}"  data-toggle="modal" data-target="#modalImageLarge" />
	    {% if include.caption %}
	    <figcaption class="caption-text">{{ include.caption }}</figcaption> 
	    {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

