<figure class="image-small caption">
    <img src="{{ include.imageurl }}" alt="{{ include.title }}" {% if include.imageurllarge %} style="cursor: pointer;" data-toggle="modal" data-target="#modalGenerico" {% endif %} />
    {% if include.caption %}
    <figcaption class="caption-text">{{ include.caption }}</figcaption> 
    {% endif %}   
</figure>

{% if include.imageurllarge %} 
<script type="text/javascript">
	document.getElementById("modalHtml").innerHTML = " <img src='{{ include.imageurllarge }}' alt='{{ include.title }}' />";
</script>
{% endif %}   