<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Expandir Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">Home</a></li>
		<li>
			<a href="#">Sobre</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="author-photo">
					<h4>{{ site.owner.name }}</h4>
					<p>{{ site.owner.bio }}</p>
				</li>
				<li><a href="{{ site.url }}/about/">Leia mais</a></li>
				{% if site.owner.email %}<li>
					<a href="mailto:{{ site.owner.email }}"><i class="fa fa-envelope"></i> Email</a>
				</li>{% endif %}
				{% if site.owner.twitter %}<li>
					<a href="http://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-twitter"></i> Twitter</a>
				</li>{% endif %}
				{% if site.owner.facebook %}<li>
					<a href="http://facebook.com/{{ site.owner.facebook }}"><i class="fa fa-facebook"></i> Facebook</a>
				</li>{% endif %}
				{% if site.owner.google_plus %}<li>
					<a href="https://google.com/{{ site.owner.google_plus }}"><i class="fa fa-google-plus"></i> Google+</a>
				</li>{% endif %}
				{% if site.owner.linkedin %}<li>
					<a href="http://linkedin.com/in/{{ site.owner.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a>
				</li>{% endif %}
				{% if site.owner.github %}<li>
					<a href="http://github.com/{{ site.owner.github }}"><i class="fa fa-github"></i> GitHub</a>
				</li>{% endif %}
				{% if site.owner.stackexchange %}<li>
					<a href="{{ site.owner.stackexchange }}"><i class="fa fa-stack-exchange"></i> Stackexchange</a>
				</li>{% endif %}
				{% if site.owner.instagram %}<li>
					<a href="http://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-instagram"></i> Instagram</a>
				</li>{% endif %}
				{% if site.owner.flickr %}<li>
					<a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fa fa-flickr"></i> Flickr</a>
				</li>{% endif %}
				{% if site.owner.tumblr %}<li>
					<a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fa fa-tumblr"></i> Tumblr</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
		<li>
			<a href="#">Posts</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">Todos os Posts</a></li>
				<li><a href="{{ site.url }}/tags/">Todas as Tags</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Links</a>
			<ul class="dl-submenu">
				<li><a href="http://www.ativo.com" title="Fotos de corridas e informações" target="_blank">Ativo</a></li>
				<li><a href="http://temporun.com.br/calculadora-pace.asp" target="_blank">Calculadora de Passe</a></li>
				<li><a href="http://atividadefisica.net/" title="Calendário nacional de corridas de rua">Calendário de Corridas – Nacional</a></li>
				<li><a href="http://www.cameraurbana.com.br/fotos.php" title="Fotos de corridas" target="_blank">Camera Urbana</a></li>
				<li><a href="http://www.chiptiming.com.br/" title="Cronometragem de corridas" target="_blank">Chip Timing</a></li>
				<li><a href="http://corpore.com.br/" title="Associação de corridas" target="_blank">Corpore</a></li>
				<li><a href="http://focoradical.com.br/" title="Fotos de corridas" target="_blank">Foco Radical</a></li>
				<li><a href="http://globoesporte.globo.com/atletismo/corrida-de-rua/" title="Noticias sobre corridas" target="_blank">Globo.com – Corridas</a></li>
				<li><a href="http://iguanasports.com.br/" target="_blank">Iguana Sports</a></li>
				<li><a href="http://www.ipodclub.com.br" title="Meu site sobre iPods" target="_blank">iPodClub</a></li>
				<li><a href="http://ironmangfbpa.blogspot.com/" rel="friend" target="_blank">Iron Man</a></li>
				<li><a href="http://www.leonferrer.com.br/" rel="friend" title="Portifólio de um amigo meu" target="_blank">Leonferrer</a></li>
				<li><a href="http://mediarun.com.br/" title="Fotos de corridas">Media Run</a></li>
				<li><a href="http://www.melhoresblogsdecorrida.com/" target="_blank">Melhores Blogs de Corrida</a></li>
				<li><a href="http://midiasport.com.br/" title="Fotos de corridas" target="_blank">Midia Sport</a></li>
				<li><a href="http://ocorretorcorredor.blogspot.com/" rel="friend" target="_blank">O Corretor Corredor</a></li>
				<li><a href="http://o2porminuto.uol.com.br/" title="Organização de corridas" target="_blank">O2 Corridas</a></li>
				<li><a href="http://www.olhonoatleta.com.br/">Olho no Atleta</a></li>
				<li><a href="http://pisandoporai.blogspot.com.br" rel="friend" target="_blank">Pisando por aí</a></li>
				<li><a href="http://sportclick.com.br/" title="Fotos de corridas" target="_blank">SportClick</a></li>
				<li><a href="http://www.supercorridas.com.br/">Super Corridas</a></li>
				<li><a href="http://www.treinoonline.com.br/" title="Fotos de corridas" target="_blank">Treino online</a></li>
				<li><a href="http://www.webrun.com.br/home/" title="Site com calendario, inscrições e noticias sobre corrida" target="_blank">WebRun</a></li>
				<li><a href="http://yescom.com.br/yescom/" title="Organização de corridas" target="_blank">Yescom</a></li>
			</ul>
		</li>		
		{% for link in site.data.navigation %}
	    {% if link.url contains 'http' %}
	        {% assign domain = '' %}
	        {% else %}
	        {% assign domain = site.url %}
	    {% endif %}
	    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
	  {% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
